@responsive {
    .invoice-mobile-grid {
        display: grid;
        grid-template-areas: "invoiceNo client" ". ." "dueDate status" "sum status";
    }
}

@responsive {
    .invoice-grid {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto min-content;
        grid-template-areas: "invoiceNo dueDate client client client sum status chevron";
    }
}

.invoiceNo {
    grid-area: invoiceNo;
}

.client {
    grid-area: client;
}

.dueDate {
    grid-area: dueDate;
}

.status {
    grid-area: status;
}

.sum {
    grid-area: sum;
}

.chevron {
    grid-area: chevron;
}